<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-8">
                <div class="card" [@carduserprofile]>
                    <div class="header">
                        <h4 class="title">New Innovation</h4>
                    </div>
                    <div class="content">
                        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Innovation Title</label>
                                        <input id="Title" [formControl]="Title" type="text" class="form-control" placeholder="Title">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Innovation Type</label>
                                        <input id="Type" [formControl]="Type" type="text" class="form-control" placeholder="Type">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <!-- <label>Process</label> -->
                                        <!-- <input id="Process" [formControl]="Process" type="text" class="form-control" placeholder="Process"> -->
                                    
                                        <search-cmp [type]="'Process'" (selectedProcess)="onProcessSelected($event)"></search-cmp>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                            <search-cmp [type]="'Widget'" (selectedWidget)="onWidgetSelected($event)"></search-cmp>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Department">Primary Department</label>
                                        <select type="text" class="form-control" value="Cheshire">
                                            <option selected disabled>Choose Department....</option>
                                            <option value="{{dep.Id}}" *ngFor="let dep of departments">{{dep.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Date Created</label>
                                        <input id="Date" [formControl]="Date" type="text" class="form-control" placeholder="Date">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-12">Created By</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="chip">
                                        <img src="./assets/img/faces/{{innovation.createdBy.avatar}}.jpg" alt="Person" width="96" height="96">                                        {{innovation.createdBy.name}}
                                        <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill">Save</button>

                        </form>

                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="card" [@carduserprofile]>
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="header">
                                <h4 class="title">Team Members</h4>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <a (click)="showDialog = !showDialog;" class="btn btn-info">Add</a>
                        </div>
                    </div>
                    <div class="content">

                        <app-dialog-small [(visible)]="showDialog">
                            <user-search (selectedUser)="onUserSelected($event)"></user-search>
                        </app-dialog-small>

                        <div *ngFor="let innoUser of innovation.innovationUsers" class="row">

                            <user-detail [(user)]="innoUser.user"></user-detail>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>