<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card" [@carduserprofile]>
                    <div class="header">
                        <h4 class="title">New Innovation</h4>
                    </div>
                    <div class="content">
                        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Innovation Title</label>
                                        <input id="Title" [formControl]="Title" type="text" class="form-control" placeholder="Title">
                                    </div>
                                </div>
                                                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Innovation Type</label>
                                        <input id="Title" [formControl]="Title" type="text" class="form-control" placeholder="Title">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Process</label>
                                        <input id="Process" [formControl]="Process" type="text" class="form-control" placeholder="Process">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Widget</label>
                                        <input id="Widget" [formControl]="Widget" type="text" class="form-control" placeholder="Widget">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Department">Primary Department</label>
                                        <select type="text" class="form-control" value="Cheshire">
                                            <option selected disabled>Choose Department....</option>
                                            <option value="1">High</option>
                                            <option value="2">Medium</option>
                                            <option value="3">Low</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Date Created</label>
                                        <input id="Date" [formControl]="Date" type="text" class="form-control" placeholder="Date">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-12">Created By</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="chip">
                                        <img src="./assets/img/faces/face-8.jpg" alt="Person" width="96" height="96"> Chris
                                        Cheshire
                                        <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <a class="btn btn-info">modify</a>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill">Save</button>

                        </form>

                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="card" [@carduserprofile]>
                    <div class="header">
                        <h4 class="title">Team Members</h4>
                    </div>
                    <div class="content">

                        <div class="col-sm-12">Sponsor</div>
                        <div class="row">

                            <div class="col-md-12">
                                <div class="chip">
                                    <img src="./assets/img/faces/face-8.jpg" alt="Person" width="96" height="96"> Chris Cheshire
                                    <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">Customer</div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="chip">
                                    <img src="./assets/img/faces/male-1.png" alt="Person" width="96" height="96"> John Doe
                                    <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-8">
                                <div class="chip">
                                    <img src="./assets/img/faces/female-1.png" alt="Person" width="96" height="96"> John
                                    Doe
                                    <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <p>Process Owner</p>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-8">
                                <div class="chip">
                                    <img src="./assets/img/faces/female-1.png" alt="Person" width="96" height="96"> John
                                    Doe
                                    <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <p>PI Member</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>