<form>
  <div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
      Future State
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>Number</label>
        <input type="text" class="form-control" placeholder="Widget" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Unit of measure</label>
        <input type="text" class="form-control" placeholder="Widget" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <p>How long does it take to deliver 1 widget? (Leadtime)</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Number</label>
        <input type="text" class="form-control" placeholder="Widget" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Time</label>
        <input type="text" class="form-control" placeholder="Widget" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <p>How many widgets are delivered right the first time it is requested by the customer?</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Percentage (%)</label>
        <input type="text" class="form-control" placeholder="Widget" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <p>What percentage of customers are satisfied?</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Percentage (%)</label>
        <input type="text" class="form-control" placeholder="Widget" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <p>What percentage of our employees are satisfied in their job?</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Percentage (%)</label>
        <input type="text" class="form-control" placeholder="Widget" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <p>What is the backlog of work?</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Number</label>
        <input type="text" class="form-control" placeholder="Widget" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Work</label>
        <input type="text" class="form-control" placeholder="Widget" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <p>Number of Handoffs</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Number</label>
        <input type="text" class="form-control" placeholder="Widget" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <p>Number of Approvals</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Number</label>
        <input type="text" class="form-control" placeholder="Widget" />
      </div>
    </div>
  </div>

</form>