<div class="form-group">
        <label class="control-label">Widget</label>
        <input (mousedown)="showDialog = !showDialog" (keyup)="search($event)" [(ngModel)]="term" type="text" class="form-control"
            placeholder="Search" />
        <i class="fa fa-search searchIcon"></i>
    </div>
    
    <div class="card" *ngIf="showDialog">
        <div class="form-group">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Widget
                            <span class="resultsInfo"> Results: {{widgets.length}}
                                <a href="" (click)="loadComponent()"><i class="fa fa-plus-circle newIcon"></i> </a>
                            </span>
                        </th>
                    </tr>
                    <tbody>
                        <tr *ngFor="let widget of widgets">
                            <td><a href="" (click)="select(widget)">{{widget.name}}</a></td>
                        </tr>
                        <tr *ngIf="createNew">
                            <td>
                                <create-cmp [type]="'Widget'" (createdObject)="select($event)"></create-cmp>
                            </td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>