<div class="stage2 popup">
  <div class="">
    <header>Brainstorm</header>

    <div class="caption">
      <form>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-5" style="border-right:1pt dashed grey;">
            <div class="form-group">
              <p>If we implement....</p>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <p>Then we expect.....</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <table class="table">
              <tbody>
                <tr>
                  <td>Standard work</td>
                  <td>
                    <label class="checkbox"><input type="checkbox" value="" data-toggle="checkbox"></label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-5" style="border-right:1pt dashed grey;">
            <div class="form-group">
              <docs-cmp></docs-cmp>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Standard Work" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <table class="table">
              <tbody>
                <tr>
                  <td>Continuos Flow</td>
                  <td>
                    <label class="checkbox"><input type="checkbox" value="" data-toggle="checkbox"></label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-5" style="border-right:1pt dashed grey;">
            <div class="form-group">
              <docs-cmp></docs-cmp>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Standard Work" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <table class="table">
              <tbody>
                <tr>
                  <td>Elimninate Batching</td>
                  <td>
                    <label class="checkbox"><input type="checkbox" value="" data-toggle="checkbox"></label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-5" style="border-right:1pt dashed grey;">
            <div class="form-group">
              <docs-cmp></docs-cmp>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Standard Work" />
            </div>
          </div>
        </div>
                <div class="row">
          <div class="col-md-2">
            <table class="table">
              <tbody>
                <tr>
                  <td>Elimninate Handoffs</td>
                  <td>
                    <label class="checkbox"><input type="checkbox" value="" data-toggle="checkbox"></label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-5" style="border-right:1pt dashed grey;">
            <div class="form-group">
              <docs-cmp></docs-cmp>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Standard Work" />
            </div>
          </div>
        </div>
                <div class="row">
          <div class="col-md-2">
            <table class="table">
              <tbody>
                <tr>
                  <td>Elimninate Other Ideas</td>
                  <td>
                    <label class="checkbox"><input type="checkbox" value="" data-toggle="checkbox"></label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-5" style="border-right:1pt dashed grey;">
            <div class="form-group">
              <docs-cmp></docs-cmp>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Standard Work" />
            </div>
          </div>
        </div>
                <div class="row">
          <div class="col-md-2">
            <table class="table">
              <tbody>
                <tr>
                  <td>5S / 6S Handoffs</td>
                  <td>
                    <label class="checkbox"><input type="checkbox" value="" data-toggle="checkbox"></label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-5" style="border-right:1pt dashed grey;">
            <div class="form-group">
              <docs-cmp></docs-cmp>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Standard Work" />
            </div>
          </div>
        </div>

                <div class="row">
          <div class="col-md-2">
            <table class="table">
              <tbody>
                <tr>
                  <td>Impact Effect Matrix</td>
                  <td>
                    <label class="checkbox"><input type="checkbox" value="" data-toggle="checkbox"></label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-5" style="border-right:1pt dashed grey;">
            <div class="form-group">
              <docs-cmp></docs-cmp>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Standard Work" />
            </div>
          </div>
        </div>





      </form>
    </div>
  </div>
</div>