<div class="stage1 popup">
  <div class="">
    <header>Lessons Learned</header>
    <div class="caption">
      <form>
        <div class="row">
          <div class="col-sm-4">
            <p>What went well? (help)</p>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <textarea cols="1" rows="8" class="form-control" placeholder="Scope / Description"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <p>What didn't go well / What didn't work? (hinderance)</p>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <textarea cols="1" rows="8" class="form-control" placeholder="Scope / Description"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <p>Any other important lessons or ideas you'd like to share for other teams or future innovations</p>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <textarea cols="1" rows="8" class="form-control" placeholder="Scope / Description"></textarea>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-info btn-fill">Save</button>
      </form>
    </div>
  </div>
</div>