<div class="stage2 popup">
  <div class="notstarted">
    <header>Action Plan</header>

    <div class="caption">
      <form>
        <table class="table">
          <thead>
            <tr>
              <th>Action Item</th>
              <th>Assigned To</th>
              <th>Due Date</th>
              <th>Date Completed</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control" /></td>
           
              <td><search-cmp [options]="{hideLabel:true}" [type]="'User'" (selected)="onUserSelected($event)"></search-cmp></td>
            
              <td><select class="form-control"><option>Select</option></select></td>
            
              <td><input type="text" class="form-control" /></td>
            
              <td><input type="text" class="form-control" /></td>
            </tr>
            <tr><td><a class="btn btn-info">add new row</a></td>
            <td colspan="4"><a class="btn btn-info pull-right">save</a></td></tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>