<div class="wrapper">
    <div (click)="showHide()" class="sidebar" [style.width]="settings.SIDEBAR_WIDTH" attr.data-color={{settings.SIDEBAR_COLOR}} data-image="">
        <sidebar-cmp></sidebar-cmp>
        <div class="sidebar-background" [style.background-image]="'url(' + settings.SIDEBAR_IMAGE + ')' | safeStyle"> </div>
    </div>

    <div class="main-panel" [style.width]="settings.MAIN_WIDTH">
        <navbar-cmp></navbar-cmp>
        <dashboard-cmp></dashboard-cmp>
        
            <!--<footer-cmp></footer-cmp>-->
       
    </div>
</div>