<div class="stage1 popup completed">
  <div class="">
    <header>Reason For Action</header>
    <div class="caption">

      <form>
        <div class="row">
          <div class="col-md-10">
            <div class="well">Briefly describe the reason your organization should take action. Why is this important to your customers? Is
              this causing any issues?</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <div class="form-group">
              <label>Reason for action description</label>
              <textarea [(ngModel)]="reason" cols="1" rows="8" class="form-control" placeholder="Scope / Description"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <div class="well"><strong>Hint: </strong>
             <p>Include the folllowing in your statement: Who cares about this oppurtunity? What teams and customers are affected?
                Why is it important to address the issue / oppurtunity? What is happening?</p>
            </div>
            <div class="well"><strong>Note: </strong>
                           <p>You can refine / define the problem and goals in the current state / future state of your A3</p>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-info btn-fill">Save</button>
      </form>
    </div>
  </div>
</div>