<div class="stage1 popup">
  <div class="">
    <header>Current / Future State</header>

      <div class="col-md-12">
        <div class="form-group">
          <h2>Widget Name from box one</h2>
        </div>
      </div>



    <div class="caption">

      <form class="col-sm-4 descriptions" style="border-right: 1pt dashed grey;">
        <div class="row">
          <div class="col-md-12"> Description</div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <p>How many Widgets are provided?</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <p>How long does it take to deliver 1 widget? (Leadtime)</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <p>How many widgets are correct, first time as requested by the customer?</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <p>What percentage of customers are satisfied?</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <p>What percentage of our employees are satisfied in their job?</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <p>What is the backlog of work?</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <p>Number of Handoffs</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <p>Number of Approvals</p>
            </div>
          </div>
        </div>




      </form>

      <div class="col-sm-4" style="border-right:1pt dashed grey;">
        <current-state></current-state>
      </div>

      <div class="col-sm-4">
        <future-state></future-state>
      </div>

    </div>
      <div class="col-md-12">
        <div class="form-group">
          <a class="btn btn-info">Save</a>
        </div>
      </div>
    
  </div>
</div>