<div class="stage1 popup started">
  <div class="">
    <header>Current / Future State</header>

    <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <h4>Widget Name from box one</h4>
      </div>
    </div>
  </div>

<div class="row header-row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">Current State</div>
  <div class="col-sm-4">Future State</div>
</div>
    

      <form class="col-sm-4 descriptions">
        <div style="border-right: 1pt dashed grey;">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <p>How many Widgets are provided?</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <p>How long does it take to deliver 1 widget? (Leadtime)</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <p>How many widgets are correct, first time as requested by the customer?</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <p>What percentage of customers are satisfied?</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <p>What percentage of our employees are satisfied in their job?</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <p>What is the backlog of work?</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <p>Number of Handoffs</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <p>Number of Approvals</p>
            </div>
          </div>
        </div>
      </div>
      </form>

      <div class="col-sm-4">
        <div class="row">
          <current-state></current-state>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="row">
          <future-state></future-state>
        </div>
      </div>

    </div>
    <div class="col-md-12">
      <div class="form-group">
        <a class="btn btn-info">Save</a>
      </div>
    </div>


</div>