<div class="main-content innogrid">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-4 stage1">
                <div class="thumbnail" (click)="loadComponent('action-dialog')">
                    <header>Reason For Action</header>
                    <div class="caption">

                        <div class="description">
                            <i class="fa fa-bullhorn fa-3x"></i>
                        </div>

                    </div>
                </div>
            </div>

           
            <app-dialog [(visible)]="showDialog">     
                <div #container></div>
                <!-- <action-dialog></action-dialog> -->
            
            </app-dialog>

            <div class="col-sm-4 stage2">
                <div class="thumbnail" (click)="loadComponent('action-dialog')">
                    <header>Gap Analysis</header>
                    <div class="caption">

                        <div class="description">
                            <i class="fa fa-cogs fa-3x"></i>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-4 stage3">
                <div class="thumbnail" (click)="loadComponent('action-dialog')">
                    <header>Completion Plan</header>
                    <div class="caption">

                        <div class="description">
                            <i class="fa fa-list-alt fa-3x"></i>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-4 stage1">
                <div class="thumbnail" (click)="loadComponent('current-state')">
                    <header>Initial State</header>
                    <div class="caption">

                        <div class="description">
                            <i class="fa fa-bicycle fa-3x"></i>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 stage2">
               <div class="thumbnail" (click)="loadComponent('action-dialog')">
                    <header>Solution Approach</header>
                    <div class="caption">

                        <div class="description">
                            <i class="fa fa-flask fa-3x"></i>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 stage3">
                <div class="thumbnail" (click)="loadComponent('action-dialog')">
                    <header>Innovations</header>
                    <div class="caption">

                        <div class="description">
                            <i class="fa fa-bolt fa-3x"></i>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-4 stage1">
                <div class="thumbnail" (click)="loadComponent('future-state')">
                    <header>Target State</header>
                    <div class="caption">

                        <div class="description">
                            <i class="fa fa-rocket fa-3x"></i>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 stage2">
                <div class="thumbnail" (click)="loadComponent('action-dialog')">
                    <header>Confirmed State</header>
                    <div class="caption">

                        <div class="description">
                            <i class="fa fa-gavel fa-3x"></i>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 stage3">
                <div class="thumbnail" (click)="loadComponent('action-dialog')">
                    <header>Insights</header>
                    <div class="caption">

                        <div class="description">
                            <i class="fa fa-eye fa-3x"></i>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>