<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card" [@carduserprofile]>
                    <div class="header">
                        <h4 class="title">New Brainstorm</h4>
                    </div>
                    <div class="content">
                        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Brainstorm Title</label>
                                        <input id="Title" [formControl]="Title" type="text" class="form-control" placeholder="Brainstorm Title">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Level Of Effort</label>
                                        <select type="text" class="form-control" value="Cheshire">
                                            <option selected disabled>Choose Effort....</option>
                                            <option value="1">High</option>
                                            <option value="2">Medium</option>
                                            <option value="3">Low</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="owner">Impact</label>
                                        <select type="text" class="form-control" value="Cheshire">
                                            <option selected disabled>Choose Impact....</option>
                                                <option value="1">High</option>
                                            <option value="2">Medium</option>
                                            <option value="3">Low</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Idea Scope / Description</label>
                                        <textarea cols="1" rows="8" class="form-control" placeholder="Scope / Description"></textarea>
                                    </div>
                                </div>

                            </div>
                            <button type="submit" class="btn btn-info btn-fill">Save</button>

                        </form>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" [@carduserprofile]>
                    <div class="header">
                        <h4 class="title">Team Members</h4>
                    </div>
                    <div class="content">

                        <div class="row team-member">

                            <div class="col-md-2">
                                <img class="avatar-med border-gray" src="assets/img/faces/face-8.jpg" alt="..." /></div>
                            <div class="col-md-4">
                                <p>Chris Cheshire</p>
                            </div>
                            <div class="col-md-3">
                                <p>Owner</p>
                            </div>
                            <div class="col-md-3">
                                <span class="fa fa-envelope"></span>
                                <span class="fa fa-bell"></span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-offset-8">
                                <a class="btn btn-info"><span class="fa fa-plus"></span> Add Member</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card" [@carduserprofile]>
                    <div class="header">
                        <h4 class="title">Innovations</h4>
                    </div>
                    <div class="content">

                        <div class="row team-member" *ngFor="let innovationuser of innovation.innovationUsers">

                            <div class="col-md-5">
                                <p>Change world</p>
                            </div>
                            <div class="col-md-7">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        60%
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-offset-7">
                                <a class="btn btn-info"><span class="fa fa-plus"></span> Link Innovation</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>