

    <div class="row">
        <div id="InnovationProgress" class="col-md-12">
            <div class="card" [@carduserprofile]>
                <div class="header">
                    <h4 class="title">Innovation Progress</h4>
                </div>
                <div class="content">
                                        <!--<div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 20%">
                            20% Initial Create (Complete)
                        </div>
                        <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
                            20% Root Cause Analysis (Started)
                        </div>
                        <div class="progress-bar progress-bar-danger" style="width: 20%">
                            20% Expriments (Not Started)
                        </div>
                        <div class="progress-bar progress-bar-danger" style="width: 20%">
                            20% Standard Work (Not Started)
                        </div>
                        <div class="progress-bar progress-bar-danger" style="width: 10%">
                            20% Results (Not Started)
                        </div>
                    </div>-->
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 20%">
                            20% Initial Create (Complete)
                        </div>
                        <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
                            20% Root Cause Analysis (Started)
                        </div>
                        <div class="status col-md-3" style="width: 17%">
                            15% Standard Work (Not Started)
                        </div>
                        <div class="status col-md-3" style="width: 15%">
                           15% Expriments (Not Started)
                        </div>
                        <div class="status col-md-3" style="width: 16%">
                            15% Brainstorms (Not Started)
                        </div>
                        <div class="status col-md-3" style="width: 12%">
                            10% Results (Not Started)
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


<innovation-create-cmp></innovation-create-cmp>