<div [@dialog] *ngIf="visible" class="dialog">


    <div class="form-group">
        <label class="control-label">Search Users</label>
        <input (keyup)="search($event)" [(ngModel)]="term" type="text" class="form-control" placeholder="Search" />
        <i class="fa fa-search searchIcon"></i>
    </div>

    <div class="form-group">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>user</th>
                </tr>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td><a href="" (click)="select(user)">{{user.name}}</a></td>
                    </tr>
                </tbody>
        </table>
    </div>


    <button *ngIf="closable" (click)="close()" aria-label="Close" class="dialog__close-btn">X</button>
</div>
<div *ngIf="visible" class="overlay" (click)="close()"></div>