<form>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Number</label>
        <input type="text" class="form-control" placeholder="Widget" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Unit of measure</label>
        <input type="text" class="form-control" placeholder="Widget" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Number</label>
        <input type="text" class="form-control" placeholder="Widget" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Time</label>
        <input type="text" class="form-control" placeholder="Widget" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Percentage (%)</label>
        <input type="text" class="form-control" placeholder="Widget" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Percentage (%)</label>
        <input type="text" class="form-control" placeholder="Widget" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Percentage (%)</label>
        <input type="text" class="form-control" placeholder="Widget" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Number</label>
        <input type="text" class="form-control" placeholder="Widget" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Work</label>
        <input type="text" class="form-control" placeholder="Widget" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Number</label>
        <input type="text" class="form-control" placeholder="Widget" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Number</label>
        <input type="text" class="form-control" placeholder="Widget" />
      </div>
    </div>
  </div>

</form>