<div class="form-group">
    <label class="control-label">Process</label>
    <input (mousedown)="showDialog = !showDialog" (keyup)="search($event)" [(ngModel)]="term" type="text" class="form-control"
        placeholder="Search" />
    <i class="fa fa-search searchIcon"></i>
    <!-- <i class="fa fa-search newIcon"></i> -->
</div>

<div class="card" *ngIf="showDialog">
    <div class="form-group">
        <a class="btn btn-info">new</a>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>process</th>
                </tr>
                <tbody>
                    <tr *ngFor="let process of processes">
                        <td><a href="" (click)="select(process)">{{process.name}}</a></td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>