
    <div class="form-group">
        <label class="control-label">Process</label>
        <input (keyup)="search($event)" [(ngModel)]="term" type="text" class="form-control" placeholder="Search" />
        <i class="fa fa-search searchIcon"></i>
    </div>

    <div class="form-group">
        <a class="btn btn-info">new</a>
    </div>

    <div class="form-group">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>process</th>
                </tr>
                <tbody>
                    <tr *ngFor="let process of processes">
                        <td><a href="" (click)="select(user)">{{process.name}}</a></td>
                    </tr>
                </tbody>
        </table>
    </div>